<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username, :value => @user.username %><br>
    <%= f.label :email %><br>
    <%= f.text_field :email, :value => @user.email %><br>
    <%= f.label :password%><br>
    <%= f.password_field :password%><br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
  </div>
    <%if @user.ingredients != []%>
      <%=@user.ingredients.each do |allergen|%>
        <%=check_box_tag("#{allergen.name}".to_s)%>
        <%=label_tag("#{allergen.name}".to_s,"#{allergen.name}" )%>
      <%end%>
    <%end%>
    Add Allergens<br><br>
    <%= f.fields_for :allergens do |allergen_form| %>
      <%= allergen_form.label :name %><br>
      <%= allergen_form.text_field :name %><br>
    <%end%>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
