<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username, :value => @user.username %><br>
    <%= f.label :email %><br>
    <%= f.email_field :email, :value => @user.email %><br>
    <%= f.label :password%><br>
    <%= f.password_field :password%><br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
  </div>
    <%if @user.allergens != []%>
    Remove Allergens<br> 
      <%@user.allergens.each do |allergen|%>
        <%=check_box_tag("allergens_to_remove[]", "#{allergen.name}", false)%>
        <%=label_tag("allergens_to_remove][]","#{allergen.name.capitalize}")%>
      <%end%>
    <%end%>
    <br>
    Add Allergens<br>
    <%base_allergens = ['Peanut','Tree-Nut','Fish','Shellfish','Dairy','Egg','Wheat','Gluten','Soy']%>
    <%base_allergens.each do |allergen|%>
      <%unless @user.allergens.include? Ingredient.find_by_name(allergen)%> 
        <%=check_box_tag("allergens[]","#{allergen}")%>
        <%=label_tag("allergens[]","#{allergen}")%>
      <%end%> 
    <%end%>
    <%= f.fields_for :allergen do |allergen_form| %>
      <%= allergen_form.label :name %><br>
      <%= allergen_form.text_field :name %><br>
    <%end%>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
