<%= form_for @user, html: {:class => "form-style"} do |f| %>
<h1>Make An Account With Us! :)</h1>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username, :value => @user.username %><br>
    <%= f.label :email %><br>
    <%= f.email_field :email, :value => @user.email %><br>
    <%= f.label :password%><br>
    <%= f.password_field :password%><br>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
  </div>
    <%if @user.allergens != []%>
    Remove Allergens<br>
      <%@user.allergens.each do |allergen|%>
        <%=check_box_tag("allergens_to_remove[]", "#{allergen.name}", false)%>
        <%=label_tag("allergens_to_remove][]","#{allergen.name.capitalize}")%>
      <%end%>
    <%end%>
    <br>
    Add Allergens<br>
    <%base_allergens = ['Peanut','Tree-Nut','Fish','Shellfish','Dairy','Egg','Wheat','Gluten','Soy']%>
    <%base_allergens.each do |allergen|%>
      <%unless @user.allergens.include? Ingredient.find_by_name(allergen)%>
        <%=check_box_tag("allergens[]","#{allergen}")%>
        <%=label_tag("allergens[]","#{allergen}")%>
      <%end%>
    <%end%>
    <div id="allergens">
    1.<br><input type="text" name="allergens[]">
    </div>
    <button type="button" onclick="addAllergen()">Add Custom Allergen</button>
    <button type="button" onclick="removeAllergen()">Remove Custom Allergen</button>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<script>
var allergens = document.getElementById("allergens")  
var acount = 1 

function addAcount(){
  return acount += 1;
}

function createInputA(){
  var a = document.createElement("input")
  a.setAttribute('type','text')
  a.setAttribute('name','allergens[]')
  return a
}

function addAllergen(){
  allergens.appendChild(document.createTextNode(addAcount() + "."))
  allergens.appendChild(createInputA());
  a.required = true
}
function removeAllergen(){
  if (acount != 1){
  allergens.removeChild(allergens.lastChild)
  allergens.removeChild(allergens.lastChild)
  acount --
}
}
</script>

