<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>

  <div id='wrapper'>

    <div class="overlay"></div>

    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <% if current_user %>
          <li class='nolink'>Welcome <%=current_user.username%></li>
        <li><a href = "/users/<%=current_user.id%>/edit" class='menu_button'>Change Settings</a></li>
         <li><%= link_to "Log out", logout_path, { method: "delete" } %></a></li>
         <li><%= link_to "Home", root_url %></a></li>
         <li><%= link_to "New Recipe", new_recipe_path %></a></li>
         <li><%= link_to "Search Local Recipe",localsearch_path %></a></li>
         <li><%= link_to "My Recipes", my_recipes_path %></a></li>
        <% else %>
         <li><%= link_to "Login", login_path, class: 'menu_button'%></a></li>
         <li><%= link_to "Signup", signup_path, class: 'menu_button'%></a><li>
        <% end %>
      </ul>
    </nav>

    <div id="page-content-wrapper">
      <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
      <div class="container">
        <%= yield %>
      </div>
    </div>

</div>
